<h1>Welcome</h1>

<p>Welcome to StoryBooks 1.0.0</p>
<p>Post stories to your heart's content!</p>
{{#if user}}

{{else}}
    <a href="/auth/google" class="btn btn-primary"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}